<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script defer src="js/vue_min.js"></script>
    <script defer src="js/main.js"></script>
    <title>Product App</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div id="app">
    <product>

    </product>
    <div class="product">
        <div class="product-image">
            <img :src="image" :alt="altText" />
        </div>
        <div class="product-info">
            <h1>{{ title }}</h1>
            <p>{{ description }}</p>
            <div class="product-stock">
                <p v-if="inStock" >In Stock</p>
                <p v-else :class="{empty: !inStock}">Out of Stock</p>
                <span v-show="onSale">On Sale</span>
            </div>
            <ul>
                <li v-for="detail in details">{{ detail }}</li>
            </ul>
            <ol>
                <li v-for="size in sizes">{{ size }}</li>
            </ol>
            <div v-for="variant in variants" :key="variant.variantId">
                <p>{{ variant.variantColor }}</p>
            </div>
            <div class="color-box"
                 v-for="(variant, index) in variants"
                 :key="variant.variantId"
                 :style="{backgroundColor: variant.variantColor}"
                 @mouseover="updateProduct (index)"
            >
            </div>
            <a :href="link">More products like this</a>
            <div class="cart">
                <p>Cart {{ cart }}</p>
                <button class="add" v-on:click="addToCart" :disabled="!inStock" :class="{disabledButton: !inStock}">Add to cart </button>
                <button class="delete" v-on:click="deleteFromCart">Delete </button>
            </div>
        </div>
    </div>


</div>

</body>
</html>