<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script defer src="js/vue_min.js"></script>
    <script defer src="js/main.js"></script>
    <title>Product App</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div id="app">
    <div class="product">
        <div class="product-image">
            <img :src="image" :alt="altText" />
        </div>
        <div class="product-info">
            <h1>{{ product }}</h1>
            <p>{{ description }}</p>
            <div class="product-stock">
                <p v-if="inventory > 10">In Stock</p>
                <p v-else-if="inventory <= 10 && inventory > 0">Almost sold out!</p>
                <p v-else>Out of Stock</p>
                <span v-show="onSale">On Sale</span>
            </div>
            <ul>
                <li v-for="detail in details">{{ detail }}</li>
            </ul>
            <ol>
                <li v-for="size in sizes">{{ size }}</li>
            </ol>
            <div v-for="variant in variants" :key="variant.variantId">
                <p>{{ variant.variantColor }}</p>
            </div>
            <a :href="link">More products like this</a>
        </div>
    </div>

</div>

</body>
</html>